---
import { ShoelaceHeader } from "astrolace:components/header";
import {
	Alert,
	AnimatedImage,
	Avatar,
	Badge,
	Breadcrumb,
	BreadcrumbItem,
	ButtonGroup,
	Button,
	Card,
	Carousel,
	CarouselItem,
	Checkbox,
	ColorPicker,
	CopyButton,
	Details,
	Divider,
	Dialog,
	Drawer,
	Dropdown,
	FormatBytes,
	FormatDate,
	FormatNumber,
	Icon,
	IconButton,
	ImageComparer,
	Include,
	Input,
	Menu,
	MenuItem,
	MenuLabel,
	MutationObserver,
	Option,
	Popup,
	ProgressBar,
	ProgressRing,
	QrCode,
	Radio,
	RadioButton,
	RadioGroup,
	Range,
	Rating,
	RelativeTime,
	ResizeObserver,
	Select,
	Skeleton,
	Spinner,
	SplitPanel,
	Switch,
	Tab,
	TabGroup,
	TabPanel,
	Tag,
	Textarea,
	Tooltip,
	Tree,
	TreeItem,
	VisuallyHidden,
} from "astrolace:components";
---
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Playground Testing</title>
		<ShoelaceHeader />
	</head>
	<body>
		<h1> Playground Testing </h1>
		<h4>
			This is a test page to see how the components look and behave in a real-world scenario. All components shown here are from the Shoelace library and have been imported using the Astrolace Astro integration.
		</h4>

		<div>
			<h2>Icon</h2>
			<Icon name="fan" label="test"  />
		</div>

		<Divider />

		<div>
			<h2>Icon Button</h2>
			<IconButton name="google" href="https://google.com" target="_blank" />
		</div>

		<Divider />

		<div>
			<h2>Tooltip</h2>
			<Tooltip placement="top-start">
				<div slot="content">Hello!</div>
				Hover me
			</Tooltip>
		</div>

		<Divider />

		<div>
			<h2>Button</h2>
			<Button variant="default" size="medium">
				<Icon name="gear" slot="prefix" />
				<span>Hello!</span>
			</Button>
		</div>

		<Divider />

		<div>
			<h2>Button Group (with a badge!)</h2>
			<ButtonGroup >
				<Button variant="default" size="medium">Hello!</Button>
				<Button variant="default" size="medium">Hello!</Button>
				<Button variant="default" size="medium">Hello!
					<Badge pill>2</Badge>
				</Button>
			</ButtonGroup>
		</div>

		<Divider />

		<div class="sl-theme-dark">
			<h2>Alert (In Darkmode!)</h2>
			<Alert variant="success" open>
				<Icon name="info-circle" slot="icon" />
				Hello!
			</Alert>
		</div>

		<Divider />

		<div>
			<h2>Animated Image</h2>
			<AnimatedImage src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExM2hkN28zd2p5bHgwbWZxYWM3eGN5NHIyNGVqMmFmdWRlbjhlb28ydiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/AAqUzS8UUiUlTBXIzH/giphy.gif" alt="A test gif" />
		</div>

		<Divider />

		<div>
			<h2>Avatar</h2>
			<Avatar image="https://avatars.githubusercontent.com/u/30383579?v=4" />
		</div>

		<Divider />

		<div>
			<h2>Breadcrumb</h2>
			<Breadcrumb>
				<BreadcrumbItem href="https://google.com">Google</BreadcrumbItem>
				<BreadcrumbItem href="https://github.com">GitHub</BreadcrumbItem>
				<BreadcrumbItem>Current Page</BreadcrumbItem>
			</Breadcrumb>
		</div>

		<Divider />

		<div>
			<h2>Card</h2>
			<Card>
				Hello!
			</Card>
		</div>

		<Divider />

		<div>
			<h2>Carousel</h2>
			<Carousel pagination navigation mouse-dragging loop>
				<CarouselItem>
					<img src="https://plus.unsplash.com/premium_photo-1670161434578-c6cd301d4067?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
				</CarouselItem>
				<CarouselItem>
					<img src="https://images.unsplash.com/photo-1676548363806-d3a57b200082?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"> 
				</CarouselItem>
				<CarouselItem>
					<img src="https://images.unsplash.com/photo-1715867155623-847902b1bbbe?q=80&w=2777&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
				</CarouselItem>
			</Carousel>
		</div>

		<Divider />

		<div class="sl-theme-dark">
			<h2>Checkbox</h2>
			<Checkbox>
				Test Checkbox!
			</Checkbox>
		</div>

		<Divider />

		<div>
			<h2>Color Picker</h2>
			<ColorPicker value="#ff0000" />
		</div>

		<Divider />

		<div>
			<h2>Copy Button</h2>
			<CopyButton value="Hello!" />
		</div>

		<Divider />

		<div>
			<h2>Details</h2>
			<Details>
				<div slot="summary">Hello!</div>
				<p>Test</p>
			</Details>
		</div>

		<Divider />

		<div>
			<h2>Formatters</h2>

			<h3>Format Bytes</h3>
			<FormatBytes value={1024} />

			<h3>Format Date</h3>
			<FormatDate date="2021-01-01" />

			<h3>Format Number</h3>
			<FormatNumber value={1000} />
		</div>

		<Divider />

		<div>
			<h2>Input</h2>
			<Input name="test-input" placeholder="Hello!" />
		</div>

		<Divider />

		<div>
			<h2>Menu</h2>
			<Menu>
				<MenuLabel>First Test Label</MenuLabel>
				<MenuItem >Test Item 1</MenuItem>
				<MenuItem>Test Item 2</MenuItem>
				<Divider />
				<MenuLabel>Second Test Label</MenuLabel>
				<MenuItem>Test Item 3</MenuItem>
			</Menu>
		</div>

		<Divider />

		<div>
			<h2>Dropdown</h2>
			<Dropdown hoist>
				<Button slot="trigger" variant="default" size="medium">Hello!</Button>
				<MenuItem>Test Item 1</MenuItem>
				<MenuItem>Test Item 2</MenuItem>
				<Divider />
				<MenuItem>Test Item 3</MenuItem>
			</Dropdown>
		</div>

		<Divider />

		<div>
			<h2>Select and Option</h2>
			<Select name="test-select">
				<Option value="1">Test Option 1</Option>
				<Option value="2">Test Option 2</Option>
				<Option value="3">Test Option 3</Option>
			</Select>
		</div>

		<Divider />

		<div>
			<h2>Progress Bar & Ring</h2>
			<ProgressBar indeterminate={true} />
			<br />
			<ProgressRing value={50} />
		</div>

		<Divider />

		<div>
			<h2>Qr Code</h2>
			<QrCode value="https://google.com" />
		</div>

		<Divider />

		<div>
			<h2>Radios, Radio Buttons, and Groups</h2>
			<RadioGroup name="radio-basic-group" value="1">
				<Radio value="1">Test Radio 1</Radio>
				<Radio value="2">Test Radio 2</Radio>
				<Radio value="3">Test Radio 3</Radio>
			</RadioGroup>
			<br />
			<RadioGroup name="radio-button-group" value="1">
				<RadioButton value="1">Test Radio 1</RadioButton>
				<RadioButton value="2">Test Radio 2</RadioButton>
				<RadioButton value="3">Test Radio 3</RadioButton>
			</RadioGroup>
		</div>

		<Divider />

		<div>
			<h2>Range</h2>
			<Range min={0} max={100} value={50} />
		</div>

		<Divider />

		<div>
			<h2>Rating</h2>
			<Rating />
		</div>

		<Divider />

		<div>
			<h2>Relative Time</h2>
			<div>Shoelace 2 release date: <RelativeTime date="2020-07-15T09:17:00-04:00" /></div>
		</div>

		<Divider />

		<div>
			<h2>Resize Observer</h2>
			<div class="resize-observer-overview">
				<ResizeObserver>
					<div>Resize me!</div>
				</ResizeObserver>
			</div>
		</div>

		<Divider />

		<div>
			<h2>Skeleton</h2>
			<div class="skeleton-effects">
				<Skeleton effect="none" />
				None

				<Skeleton effect="sheen" />
				Sheen

				<Skeleton effect="pulse" />
				Pulse
			</div>
		</div>

		<Divider />

		<div>
			<h2>Spinner</h2>
			<Spinner />
		</div>

		<Divider />

		<div>
			<h2>Split Panel</h2>
			<SplitPanel>
				<div slot="start" style="height: 100px; background: var(--sl-color-neutral-50); display: flex; align-items: center; justify-content: center; overflow: hidden;">
					Start
				</div>
				<div slot="end" style="height: 100px; background: var(--sl-color-neutral-50); display: flex; align-items: center; justify-content: center; overflow: hidden;">
					End
				</div>
			</SplitPanel>
		</div>

		<Divider />

		<div>
			<h2>Switch</h2>
			<Switch />
		</div>

		<Divider />

		<div>
			<h2>Tab, Tab Panel, and Tab Group</h2>
			<TabGroup>
				<Tab slot="nav" panel="general" active>General</Tab>
				<Tab slot="nav" panel="custom">Custom</Tab>
				<Tab slot="nav" panel="advanced">Advanced</Tab>
				<Tab slot="nav" panel="disabled" disabled>Disabled</Tab>

				<TabPanel name="general">General content</TabPanel>
				<TabPanel name="custom">Custom content</TabPanel>
				<TabPanel name="advanced">Advanced content</TabPanel>
				<TabPanel name="disabled">Disabled content</TabPanel>
			</TabGroup>
		</div>

		<Divider />

		<div>
			<h2>Tag</h2>
			<Tag variant="primary" >Primary</Tag>
			<Tag variant="success">Success</Tag>
			<Tag variant="neutral">Neutral</Tag>
			<Tag variant="warning">Warning</Tag>
			<Tag variant="danger">Danger</Tag>
		</div>

		<Divider />

		<div>
			<h2>Textarea</h2>
			<Textarea name="test-textarea" placeholder="Hello!">
				<div slot="label"><bold>Test Textarea</bold></div>
				<div slot="help-text">This is a test textarea</div>
				test
			</Textarea>
		</div>

		<Divider />

		<div>
			<h2>Tree and Tree Item</h2>
			<Tree>
				<TreeItem>Item 1</TreeItem>
				<TreeItem>Item 2
					<TreeItem>Item A</TreeItem>
					<TreeItem>Item B</TreeItem>
					<TreeItem>Item C</TreeItem>
				</TreeItem>
				<TreeItem>Item 3</TreeItem>
			</Tree>
		</div>

		<Divider />

		<div>
			<h2>Visually Hidden</h2>
			<VisuallyHidden>Hidden text</VisuallyHidden>
		</div>

		<Divider />

		<div>
			<h2>Dialog</h2>
			<Dialog id="new-user-dialog" label="New User Creation">
			
				<Button slot="footer"  variant="danger" size="small" class:list={"cancel-new-user"}>Cancel</Button>
			</Dialog>
			
			<Button variant="primary" size="small" class={"open-new-user-dialog"}>New User</Button>
			
			<script>
			import type { SlButton, SlDialog } from "astrolace:types";
			
				const newUserDialog = document.getElementById('new-user-dialog') as SlDialog;
				const openDialogButton = document.getElementsByClassName('open-new-user-dialog')[0] as SlButton;
				const cancelDialogButton = document.getElementsByClassName('cancel-new-user')[0] as SlButton;
			
				openDialogButton.addEventListener('click', () => {
					newUserDialog.show();
				});
			
				cancelDialogButton.addEventListener('click', () => {
					newUserDialog.hide();
				});
			
				newUserDialog.addEventListener('sl-request-close', event => {
					if (event.detail.source === 'overlay') {
						event.preventDefault();
					}
				});
			</script>
		</div>

		<Divider />
		
		<style>
			.resize-observer-overview div {
			display: flex;
			border: solid 2px var(--sl-input-border-color);
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 4rem 2rem;
			}
			.skeleton-effects {
				font-size: var(--sl-font-size-small);
			}

			.skeleton-effects sl-skeleton:not(:first-child) {
				margin-top: 1rem;
			}
		</style>

	</body>
</html>