---
import { ShoelaceHeader } from "astrolace:components/header";
import { 
	Alert, AnimatedImage, Avatar,
	Badge, Breadcrumb, BreadcrumbItem, ButtonGroup, Button,
	Card, Checkbox, ColorPicker, CopyButton,
	Icon, IconButton, 
	Tooltip 
} from "astrolace:components";

---
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Playground Testing</title>
		<ShoelaceHeader />
	</head>
	<body>
		<h1> Playground Testing </h1>

		<div>
			<h2>Icon</h2>
			<Icon name="fan" label="test"  />
		</div>

		<div>
			<h2>Icon Button</h2>
			<IconButton name="google" href="https://google.com" target="_blank" />
		</div>

		<div>
			<h2>Tooltip</h2>
			<Tooltip placement="top-start">
				<div slot="content">Hello!</div>
				<div>tested</div>
			</Tooltip>
		</div>

		<div>
			<h2>Button</h2>
			<Button variant="default" size="medium">
				<Icon name="gear" slot="prefix" />
				<span>Hello!</span>
			</Button>
		</div>

		<div>
			<h2>Button Group (with a badge!)</h2>
			<ButtonGroup>
				<Button variant="default" size="medium">Hello!</Button>
				<Button variant="default" size="medium">Hello!</Button>
				<Button variant="default" size="medium">Hello!
					<Badge pill>2</Badge>
				</Button>
			</ButtonGroup>
		</div>

		<div class="sl-theme-dark">
			<h2>Alert</h2>
			<Alert variant="success" open>
				<Icon name="info-circle" slot="icon" />
				Hello!
			</Alert>
		</div>

		<div>
			<h2>Animated Image</h2>
			<AnimatedImage src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExM2hkN28zd2p5bHgwbWZxYWM3eGN5NHIyNGVqMmFmdWRlbjhlb28ydiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/AAqUzS8UUiUlTBXIzH/giphy.gif" alt="A test gif" />
		</div>

		<div>
			<h2>Avatar</h2>
			<Avatar image="https://avatars.githubusercontent.com/u/30383579?v=4" />
		</div>

		<div>
			<h2>Breadcrumb</h2>
			<Breadcrumb>
				<BreadcrumbItem href="https://google.com">Google</BreadcrumbItem>
				<BreadcrumbItem href="https://github.com">GitHub</BreadcrumbItem>
				<BreadcrumbItem>Current Page</BreadcrumbItem>
			</Breadcrumb>
		</div>

		<div>
			<h2>Card</h2>
			<Card>
				Hello!
			</Card>
		</div>

		<div class="sl-theme-dark">
			<h2>Checkbox</h2>
			<Checkbox>
				Test Checkbox!
			</Checkbox>
		</div>

		<div>
			<h2>Color Picker</h2>
			<ColorPicker value="#ff0000" />
		</div>

		<div>
			<h2>Copy Button</h2>
			<CopyButton value="Hello!" />
		</div>
</html>